.LeftBar {
    width: 30%;
    max-width: 440px;
    padding-right: 10px;
    position: sticky;
    top: 0;
    padding-top: 85px;
    height: 100%;
    overflow: auto;
    left: 25px;
}

.GroupsRow {
    display: flex;
    justify-content: center;
    gap: 20px 30px;
    flex-wrap: wrap;
    margin-top: 30px;
    .GroupIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        height: 50px;
        aspect-ratio: 1;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background-color: var(--button-bg-color-hover);
        }
    }
}
.ActiveRow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    min-height: 280px;
    .ActiveCard {
        display: flex;
        align-items: center;
        gap: 10px;
        width: min-content;
        cursor: pointer;
        .CardInfo {
            p {
                font-size: 14px;
            }
        }
        .CardImage {
            position: relative;
            border-radius: 50%;
            img {
                height: 45px;
            }
            &::before {
                content: "";
                position: absolute;
                height: 9px;
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: var(--green);
                z-index: 1;
                bottom: 5px;
                right: 7px;
            }
        }
    }
}
.Promotions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
    gap: 5px;
    .Promotion {
        cursor: pointer;
    }
}
