.PostBlock {
    width: 90%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--nav-bg-color);
    .Line {
        margin: 0;
    }
    .PostHeader {
        display: flex;
        align-items: center;
        height: 70px;
        justify-content: space-between;
        gap: 15px;
        form {
            display: flex;
            width: 100%;
            align-items: center;
            gap: 15px;
        }
        .PostProfile {
            display: flex;
            align-items: center;
            border-radius: 50%;
            overflow: hidden;
            height: 40px;
            min-width: 40px;
            cursor: pointer;
            img {
                height: 40px;
                aspect-ratio: 1;
            }
        }
    }

    input {
        height: 40px;
        width: 100%;
        border-radius: 10px;
        padding: 0 10px;
        font-family: tkt_rc;
        letter-spacing: 1.5px;
        font-size: 15px;
        color: var(--input-color);
        outline: none;
        border: 0;
        background-color: var(--bg-color);
    }
    button {
        color: var(--white);
        font-family: tkt_rc;
        letter-spacing: 2px;
        font-size: 14px;
        height: 40px;
        border: 0;
        border-radius: 10px;
        padding: 0 20px;
        cursor: pointer;
        background-color: var(--main-color_);
        transition: 0.2s;
        &:hover {
            background-color: var(--main-color_hover);
        }
    }
}

.PostOptionsRow {
    padding-top: 10px;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .PostButton {
        display: flex;
        align-items: center;
        font-family: tkt_m;
        font-size: 16px;
        cursor: pointer;
        color: var(--post-button);
        svg {
            margin-right: 15px;
        }
    }
}
