.Home {
    position: relative;
    display: flex;
    width: 100%;

    .PostRow {
        margin-top: 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .NewsRow {
        position: sticky;
        top: 0;
        padding-top: 85px;
        max-height: 900px;
        min-width: 400px;
        .NewsCards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            .NewsCard {
                display: flex;
                align-items: center;
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                cursor: pointer;
                background-color: red;
                img {
                    height: 100%;
                    width: 100%;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.389), transparent);
                    opacity: 0.5;
                    transition: opacity 0.3s;
                }
                &:hover:before {
                    opacity: 1;
                }
            }
        }
    }
}
