:root {
    --main-color: #b439ff;
    --main-color_: #e01fff;
    --main-color_bg: rgb(224, 31, 255, 0.15);
    --main-color-bg: rgba(179, 57, 255, 0.15);
    --green: #00f47f;
    --orange: #f97b22;
    --blue: #1bafd8;
    --red: #eb2b68;

    --nav-icons: #b4b4b4;
    --scrollbar-bg: #dadada;
    --scrollbar-thumb: #c5c5c5;
    --bg-color: #f6f6f6;
    --nav-bg-color: #ffffff;
    --nav-border-color: #dddddd;
    --input-bg-color: #ececec;
    --text-title-color: #323232;
    --text-color: #000000d9;
    --button-bg-color: #f5f5f5;
    --button-bg-color-hover: #e9e9e9;
    --chat-bg-color: #eaeaea;
    --chat-message-bg-color: #f5f5f5;
    --post-time-color: #a6a6a6;
    --profile-info-color: #d9d9d9;
    --line-color: #eaeaea;
    --block-button-bg: #efefef;
    --block-button-bg-hover: #e9e9e9;
    --block-button-text: #383838;
    --react-color: #aaaaaa;
    --block-bg: #f7f7f7;
    --chat-send-bg: #f1f1f1;
    --chat-send-border: #d3d3d3;
    --message-time: #ffffff;
    --message-time-bg: #414141;
    --my-message: #ffffff;
    --chat-input-bg: #ebebeb;
    --chat-input-stroke: #dedede;
    --input-color: #000000;

    // DARKMODE
    // --nav-icons: #ffffffee;
    // --scrollbar-bg: #0b0d38;
    // --scrollbar-thumb: #13175f;
    // --main-color: #b439ff;
    // --bg-color: #07071c;
    // --nav-bg-color: #0c0c2e;
    // --nav-border-color: #141450;
    // --input-bg-color: #101040;
    // --text-title-color: #efefef;
    // --text-color: #e8e8e8d9;
    // --button-bg-color: #14144a;
    // --button-bg-color-hover: #191961;
    // --chat-bg-color: #0d0d33;
    // --chat-message-bg-color: #07071c;
    // --post-time-color: #07071c;
    // --profile-info-color: #d9d9d9;
    // --line-color: #111146;
    // --green: #00f47f;
    // --orange: #f97b22;
    // --blue: #19a7ce;
    // --react-color: #ececec;
    // --block-bg: #090b2e;
    // --block-button-bg: #12124a;
    // --block-button-bg-hover: #1d1d74;
    // --block-button-text: #383838;
    // --chat-send-bg: #0d1042;
    // --chat-send-border: #161a6b;
    // --message-time: #ffffff;
    // --message-time-bg: #131761;
    // --my-message: #ffffff;
    // --chat-input-bg: #161a6b;
    // --chat-input-stroke: #181d7b;
    // --input-color: #ffffff;
}
@font-face {
    font-family: p_sb;
    src: url("./Fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: p_m;
    src: url("./Fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: tkt_b;
    src: url("./Fonts/TKT-Bold.ttf");
}
@font-face {
    font-family: tkt_m;
    src: url("./Fonts/TKT-Medium.ttf");
}
@font-face {
    font-family: tkt_rc;
    src: url("./Fonts/TKT-Regular-Caps.ttf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: var(--scrollbar-bg);
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}
a {
    text-decoration: none;
    color: unset;
}
h2 {
    font-size: 18px;
    color: var(--text-title-color);
    font-family: tkt_rc;
    letter-spacing: 3px;
    font-weight: normal;
}
h3 {
    font-size: 16px;
    font-family: tkt_rc;
    color: var(--text-color);
    letter-spacing: 1px;
}
p {
    font-size: 15px;
    font-family: tkt_b;
    color: var(--text-color);
    letter-spacing: 1px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.containerC {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 96%;
    display: flex;
}
.m-10 {
    width: 70%;
}
.m-8 {
    width: 60%;
}
.m-6 {
    width: 50%;
}
.m-4 {
    width: 40%;
}
.m-2 {
    width: 30%;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1190px;
    }
}
@media (min-width: 1440px) {
    .container {
        width: 1390px;
    }
}
@media (min-width: 1600px) {
    .container {
        width: 1440px;
    }
}
