nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nav-bg-color);
  height: 55px;
  border-bottom: 1px solid var(--nav-border-color);
  z-index: 99;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navLogo .logoIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  user-select: none;
}
.navLogo .navSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 250px;
  position: relative;
}
.navLogo .navSearch input {
  padding: 0 10px;
  background-color: var(--input-bg-color);
  color: var(--input-color);
  height: 100%;
  width: 100%;
  outline: none;
  border: 0;
  border-radius: 10px;
  font-family: tkt_m;
  font-size: 14px;
  letter-spacing: 1px;
  padding-right: 40px;
}
.navLogo .navSearch img {
  position: absolute;
  right: 12px;
  user-select: none;
  cursor: pointer;
}

.navRoutes ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navRoutes ul li {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.navRoutes ul li::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 150%;
  border-radius: 5px;
  background-color: var(--main-color);
  bottom: -10px;
  opacity: 0;
  transition: 0.2s;
}
.navRoutes ul li svg {
  height: 28px;
}
.navRoutes ul li svg path {
  fill: var(--nav-icons);
  transition: 0.2s;
}
.navRoutes ul .liActive path {
  fill: var(--main-color);
}
.navRoutes ul .liActive::before {
  opacity: 1;
}

.navUser {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navUser .navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 36px;
  aspect-ratio: 1;
  background-color: var(--button-bg-color);
  border-radius: 5px;
  transition: 0.2s;
}
.navUser .navButton svg path {
  fill: var(--nav-icons);
}
.navUser .navButton:hover {
  background-color: var(--button-bg-color-hover);
}
.navUser .navProfile {
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-radius: 50%;
  outline: 2px solid var(--main-color);
  outline-offset: 2px;
  user-select: none;
}
.navUser .navProfile img {
  user-select: none;
  height: 36px;
  cursor: pointer;
}

.navProfile {
  position: relative;
}
.navProfile .ProfileBlock {
  position: absolute;
  right: 0;
  top: 50px;
  height: auto;
  width: 220px;
  border-radius: 10px;
  background-color: var(--block-bg);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.3s;
}
.navProfile .ProfileBlock .BlockContent {
  padding: 15px;
}
.navProfile .ProfileBlock .BlockContent .ProfB {
  cursor: pointer;
  gap: 10px;
  display: flex;
  align-items: center;
}
.navProfile .ProfileBlock .BlockContent .ProfB .ProfI p {
  font-size: 12px;
  font-family: tkt_rc;
  font-weight: 600;
}
.navProfile .ProfileBlock .BlockContent .Line {
  margin: 10px 0;
}
.navProfile .ProfileBlock .BlockContent .BlockOptions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}
.navProfile .ProfileBlock .BlockContent .BlockOptions .BlockB {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 10px;
  border: 0;
  border-radius: 10px;
  background-color: var(--block-button-bg);
  color: var(--block-button-text);
  font-family: p_sb;
  transition: 0.2s;
}
.navProfile .ProfileBlock .BlockContent .BlockOptions .BlockB:hover {
  background-color: var(--block-button-bg-hover);
}
.navProfile .ProfileBlock .BlockContent .BlockOptions .BlockB img {
  height: 25px;
}
.navProfile .ProfileBlock .BlockContent .BlockOptions .BlockB p {
  margin-left: 8px;
  font-size: 14px;
}
.navProfile .PBShow {
  visibility: visible;
  opacity: 1;
}