.user-leftside {
  height: min-content;
  position: sticky;
  .user-leftside-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    h2 {
      &:nth-child(2) {
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
  .user-leftside-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      cursor: pointer;
      width: calc(50% - 4px);
      margin-bottom: 5px;
    }
  }
  .user-leftside-stories {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .stories-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px 5px;
      .story-block {
        position: relative;
        width: calc(50% - 5px);
        cursor: pointer;

        &::before {
          border-radius: 4px;
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
          opacity: 0.8;
          transition: 0.2s;
        }
        &:hover:before {
          opacity: 1;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
